@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        var nameClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/identity/claims/displayname");
        var name = nameClaim == null ? null : nameClaim.Value;
        <p>Hello, @name</p>
    }
    else
    {
        <a asp-controller="Auth" asp-action="Login" class="btn btn-primary">Signin</a>
    }
</div>
