@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        var nameClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/identity/claims/displayname");
        var name = nameClaim == null ? null : nameClaim.Value;
        <p>Hello, @name</p>
        <p>
            <a asp-controller="Profile" asp-action="Index" class="btn btn-info">View Profile</a>
        </p>
    }
    else
    {
        <p>
            <a asp-controller="Auth" asp-action="Login" class="btn btn-primary">Login(AzureAD  B2B)</a>
        </p> 
            
            <br />

        <p>
            <a asp-controller="Auth" asp-action="Login" class="btn btn-primary">Signin(AzureAD B2C)</a>
        </p>
    }
</div>
